<div class="title-wrapper">
  <h1>
    {{#if bulkSelectEnabled}}
      <input type="checkbox" class="bulk-select">
    {{/if}}
    {{raw "topic-status" topic=topic}}
    {{topic-link topic}}
    {{plugin-outlet "topic-list-after-title"}}
  </h1>
  {{#unless topic.isPrivateMessage}}
    {{topic-category topic=topic}}
  {{/unless}}
  {{#if showTopicPostBadges}}
    {{raw "topic-post-badges" unread=topic.unread newPosts=topic.displayNewPosts unseen=topic.unseen url=topic.lastUnreadUrl}}
  {{/if}}
  {{plugin-outlet "topic-list-tags"}}
  {{#if expandPinned}}
    {{raw "list/topic-excerpt" topic=topic}}
  {{/if}}
  {{raw "list/action-list" topic=topic postNumbers=topic.liked_post_numbers className="likes" icon="heart"}}
</div>

{{#if firstPost}}
  <div class="topic-list-item-post first">
    {{mount-widget
      widget="topic-list-item"
      model=firstPost.model
      args=firstPost.args
      replyToPost=replyToPost}}
  </div>
{{/if}}
{{#if bestSolutionPost}}
  <div class="topic-list-item-post best-solution">
    <h3>Best solution</h3>
    {{mount-widget
      widget="topic-list-item"
      model=bestSolutionPost.model
      args=bestSolutionPost.args
      replyToPost=replyToPost}}
  </div>
{{/if}}